.App {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /*display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-gap: 1px;*/
  width: 700px;
  /* width: 100%;*/
  height: 100%;
}
